.App {
    font-family: "Microsoft Sans Serif";
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    /* font-size: 0.7rem; */
    /* -ms-overflow-style: none; */
    /* scrollbar-width: none; */
}

.App::-webkit-scrollbar {
    height: 0;
    /* height: 10px; */
    /* background-color: #f9f9fd; */
}

/* .App::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #18aaaa;
}

.App::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #f9f9fd;
} */
